.blog_item_thumb {
  background-image: url({{ .Site.BaseURL }}images/default.jpg);
  background-size: cover;
}

{{ range $p := .Site.Pages }}
{{ with $p.Params.thumbnail }}
.blog_item_thumb-{{ $p.UniqueID }} {
  background-image: url({{ $.Site.BaseURL }}{{ . }});
}
{{ end }}
{{ end }}
