@charset "UTF-8";

// Common Settings
@import "_partials/setting";
@import "_partials/sprite-common";
@import "_partials/mixin";

/* --------------------------------
   visual
-------------------------------- */
.visual {
	padding: 130px 0;
	background: url(images/bg.png) 0 50% no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
}

.visual_subtit {
	margin: 0 0 30px;
	letter-spacing: 1px;
	font-size: 32px;
	&::before,
	&::after {
		content: "";
		display: inline-block;
		margin: 0 30px;
		width: 140px;
		height: 2px;
		background-color: #fff;
		vertical-align: middle;
	}
}.visual_tit {
	margin: 50px 0 40px;
	font-size: 67px;
}/* --------------------------------   about-------------------------------- */.about {
	text-align: center;
}.about_tit {
	text-align: center;
}.about_txt {
	margin: 30px 0;
	font-size: 16px;
	line-height: 2.5;
}/* --------------------------------   blog-------------------------------- */.blog {
	padding: 0 40px;
	background-color: rgba(236,239,241,0.5);
	text-align: center;
}